import /vendor/etc/init/hw/init.${ro.hardware}.usb.rc
import /vendor/etc/init/hw/init.wifi.rc
import /vendor/etc/init/hw/init.bluetooth.rc

## init goal order
# early-init, init, late-init
# early-fs, fs, post-fs, late-fs, post-fs-data
# load_persist_props_action
# zygote-start
# firmware_mounts_complete
# early-boot, boot

on early-fs
    start bootanim

    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755
    mkdir /dev/input

    write /sys/module/firmware_class/parameters/path /vendor/lib/firmware

    exec u:r:modprobe:s0 -- /vendor/bin/modprobe -a -d \
        /vendor/lib/modules atmel_mxt_ts.ko bluetooth.ko bnep.ko brcmfmac.ko brcmutil.ko btbcm.ko cpufreq_conservative.ko \
        cpufreq_powersave.ko cpufreq_userspace.ko hci_uart.ko hidp.ko kheaders.ko rfcomm.ko s5p-jpeg.ko s5p-mfc.ko \
        v4l2-mem2mem.ko videobuf2-common.ko videobuf2-dma-contig.ko videobuf2-memops.ko videobuf2-v4l2.ko wacom_i2c.ko

    setprop ro.hardware.audio.primary n8000

on fs
    # non early mounts
    mount_all /vendor/etc/fstab.${ro.hardware} --late
    setprop ro.crypto.fuse_sdcard false

on post-fs
    setrlimit 8 67108864 67108864

on post-fs-data
    setprop init.svc.console stopped
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1
