import /init.${ro.hardware}.usb.rc

## init goal order
# early-init, init, late-init
# early-fs, fs, post-fs, late-fs, post-fs-data
# load_persist_props_action
# zygote-start
# firmware_mounts_complete
# early-boot, boot

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

    exec u:r:modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules aes-arm-bs.ko sha1-arm.ko sha1-arm-neon.ko sha512-arm.ko chacha-neon.ko dh_generic.ko crypto_user.ko sha3_generic.ko lrw.ko xts.ko salsa20_generic.ko chacha_generic.ko lzo.ko lzo-rle.ko lz4.ko af_alg.ko algif_hash.ko algif_skcipher.ko algif_rng.ko algif_aead.ko ecc.ko ecdh_generic.ko microchip.ko brcmutil.ko brcmfmac.ko cdc-acm.ko usblp.ko cdc-wdm.ko usbtmc.ko atmel_mxt_ts.ko v4l2-fwnode.ko v4l2-mem2mem.ko v4l2-tpg.ko videobuf2-common.ko videobuf2-v4l2.ko videobuf2-memops.ko videobuf2-vmalloc.ko videobuf2-dma-contig.ko vivid.ko s5p-csis.ko exynos-fimc-lite.ko exynos-fimc-is.ko s5p-fimc.ko exynos4-is-common.ko s5p-jpeg.ko s5p-mfc.ko s5p-cec.ko exynos-gsc.ko uvcvideo.ko gspca_main.ko cpufreq_powersave.ko cpufreq_userspace.ko cpufreq_conservative.ko hci_uart.ko btbcm.ko cfg80211.ko bluetooth.ko mac80211.ko rfkill.ko rfkill-gpio.ko cordic.ko lzo_compress.ko lz4_compress.ko font.ko

    setprop ro.hardware.audio.primary smdk4x12

on init
    # we need this to do hardware init (at least the touchpad)
    setprop ro.boot.hardware.revision ${ro.revision}

on fs
    # first stage init mounts everything for us
    mount_all /fstab.${ro.hardware}
    
    chmod 777 /dev/binder
    chmod 777 /dev/hwbinder
    chmod 777 /dev/vndbinder
    
    chmod 755 /sys/kernel/debug
    chmod 755 /sys/kernel/debug/sync
    chown graphics graphics /sys/kernel/debug/sync/sw_sync

    chmod 777 /sys/kernel/debug/sync/sw_sync
    chown graphics graphics /sys/kernel/debug/sync/info

    chmod 777 /dev/dri/card0
    chmod 777 /dev/dri/renderD128
    chmod 777 /dev/dri/card1
    chmod 777 /dev/dri/renderD129
    chmod 777 /dev/graphics/fb0

    chmod 770 /logger.sh
    start loggerz

on late-fs
    start bootanim

on post-fs-data
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1
	
service loggerz /logger.sh
    user root
    group root
    oneshot