subsystem dma_heap
   devname uevent_devpath
   dirname /dev/dma_heap

/dev/ion                                               0666    system       graphics
/dev/graphics/*                                        0660    root         graphics
/dev/dri/*                                             0666    root         graphics
/dev/pvr_sync                                          0666    system       graphics
/dev/sw_sync                                           0666    system       graphics
/dev/composer                                          0660    system       graphics
/dev/video0                                            0666    media        media
/dev/video1                                            0666    media        media
/dev/video2                                            0666    media        media
/dev/video3                                            0666    media        media
/dev/tee0                                              0660    system       keystore
/dev/teepriv0                                          0660    system       keystore
/dev/ttyUSB0                                           0666    system       system
/dev/block/platform/soc/12550000.mmc/by-name/CACHE     0600    system       system
/dev/block/platform/soc/12550000.mmc/by-name/USERDATA  0600    system       system
/dev/rfkill                                            0660    bluetooth    net_bt
/dev/ion                                               0664    system       system
/dev/iio:device*                                       0660    system       system
/dev/wlan                                              0666    system       system
/dev/dma_heap/linux,cma	                               0666    system       graphics
/dev/dma_heap/system                                   0666    system       system