/dev/ion	                    0666 system graphics
/dev/graphics/fb0	            0666 system graphics
/dev/dri/card0                  0660 system graphics
/dev/dri/renderD128             0666 system graphics